<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta http-equiv=X-UA-Compatible content="IE=edge">
        <meta name=viewport content="width=device-width,initial-scale=1">
        <link rel=icon href=/static/favicon.ico>
        <title>管理平台</title>
        <link as=style href=/static/css/app.d7ee2031.css rel=preload>
        <link as=style href=/static/css/vendors~app.35.043389a6.css rel=preload>
        <link as=script href=/static/js/app.c3a0c746.js rel=preload>
        <link as=script href=/static/js/vendors~app.ad397cdf.js rel=preload>
        <link href=/static/css/10.10.c72ddb32.css rel=prefetch>
        <link href=/static/css/11.11.098e0010.css rel=prefetch>
        <link href=/static/css/12.12.303a39a0.css rel=prefetch>
        <link href=/static/css/13.13.70412b65.css rel=prefetch>
        <link href=/static/css/14.14.664299c3.css rel=prefetch>
        <link href=/static/css/15.15.47b738c9.css rel=prefetch>
        <link href=/static/css/16.16.c3c2d96d.css rel=prefetch>
        <link href=/static/css/17.17.15173215.css rel=prefetch>
        <link href=/static/css/18.18.e18ca914.css rel=prefetch>
        <link href=/static/css/19.19.67f6079e.css rel=prefetch>
        <link href=/static/css/2.2.ad2a4474.css rel=prefetch>
        <link href=/static/css/20.20.a02dd0f4.css rel=prefetch>
        <link href=/static/css/21.21.53336eff.css rel=prefetch>
        <link href=/static/css/22.22.0daa3eca.css rel=prefetch>
        <link href=/static/css/23.23.dd2f2b25.css rel=prefetch>
        <link href=/static/css/24.24.9d22ed1c.css rel=prefetch>
        <link href=/static/css/25.25.f834aa10.css rel=prefetch>
        <link href=/static/css/26.26.f9a7c106.css rel=prefetch>
        <link href=/static/css/27.27.932993b6.css rel=prefetch>
        <link href=/static/css/28.28.a3a59222.css rel=prefetch>
        <link href=/static/css/29.29.33141639.css rel=prefetch>
        <link href=/static/css/3.3.84376998.css rel=prefetch>
        <link href=/static/css/30.30.537c2ed4.css rel=prefetch>
        <link href=/static/css/31.31.d08cdbee.css rel=prefetch>
        <link href=/static/css/32.32.2ad97a01.css rel=prefetch>
        <link href=/static/css/4.4.da4e6caf.css rel=prefetch>
        <link href=/static/css/5.5.da4e6caf.css rel=prefetch>
        <link href=/static/css/6.6.da4e6caf.css rel=prefetch>
        <link href=/static/css/7.7.f202b03e.css rel=prefetch>
        <link href=/static/css/8.8.8486b551.css rel=prefetch>
        <link href=/static/css/9.9.b7137199.css rel=prefetch>
        <link href=/static/js/0.521ff211.js rel=prefetch>
        <link href=/static/js/1.88d2a15a.js rel=prefetch>
        <link href=/static/js/10.1474ce2a.js rel=prefetch>
        <link href=/static/js/11.28aff72a.js rel=prefetch>
        <link href=/static/js/12.7a70cef3.js rel=prefetch>
        <link href=/static/js/13.2433a8d1.js rel=prefetch>
        <link href=/static/js/14.2b4548e7.js rel=prefetch>
        <link href=/static/js/15.8d1dcac5.js rel=prefetch>
        <link href=/static/js/16.e859a98c.js rel=prefetch>
        <link href=/static/js/17.46bc9421.js rel=prefetch>
        <link href=/static/js/18.72ce24ad.js rel=prefetch>
        <link href=/static/js/19.b5e2e8bf.js rel=prefetch>
        <link href=/static/js/2.478cdab3.js rel=prefetch>
        <link href=/static/js/20.0a1daa39.js rel=prefetch>
        <link href=/static/js/21.15c39906.js rel=prefetch>
        <link href=/static/js/22.bfe98508.js rel=prefetch>
        <link href=/static/js/23.49218e7a.js rel=prefetch>
        <link href=/static/js/24.cbee4a9a.js rel=prefetch>
        <link href=/static/js/25.417c1399.js rel=prefetch>
        <link href=/static/js/26.97d38726.js rel=prefetch>
        <link href=/static/js/27.55b5c0ab.js rel=prefetch>
        <link href=/static/js/28.c1d6f9ad.js rel=prefetch>
        <link href=/static/js/29.f413a07c.js rel=prefetch>
        <link href=/static/js/3.d96ab6c0.js rel=prefetch>
        <link href=/static/js/30.2c67ccce.js rel=prefetch>
        <link href=/static/js/31.9f6d0bae.js rel=prefetch>
        <link href=/static/js/32.b9b2329d.js rel=prefetch>
        <link href=/static/js/33.0f67cd55.js rel=prefetch>
        <link href=/static/js/34.f0e9a631.js rel=prefetch>
        <link href=/static/js/4.100b2dd2.js rel=prefetch>
        <link href=/static/js/5.b37a6acf.js rel=prefetch>
        <link href=/static/js/6.5f2da837.js rel=prefetch
        ><link href=/static/js/7.d99c1601.js rel=prefetch>
        <link href=/static/js/8.91dfd071.js rel=prefetch>
        <link href=/static/js/9.66bffafa.js rel=prefetch>
        <link href=/static/css/vendors~app.35.043389a6.css rel=stylesheet>
        <link href=/static/css/app.d7ee2031.css rel=stylesheet>
    </head>
    <body>
        <noscript>
            <strong>
                We're sorry but iview-admin doesn't work properly without JavaScript enabled. Please enable it to continue.
            </strong>
        </noscript>
        <div id=app></div>
        <script type=text/javascript src=/static/js/vendors~app.ad397cdf.js></script>
        <script type=text/javascript src=/static/js/app.c3a0c746.js></script>
    </body>
</html>